.home-container {
    padding: 20px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
}

.burger-menu {
    position: relative;
}

.menu-icon {
    display: block;
    width: 25px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked~.menu {
    display: block;
}

.menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.search-bar-container {
    margin-top: 20px;
    margin-right: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


.categories-container {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.categories-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari, and Opera */
}

.categories-scroll {
    display: flex;
    gap: 10px;
}

.category-button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

.category-button:hover {
    background-color: #0056b3;
}

.search-bar-container {
    margin-top: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.items-container {
    margin-top: 20px;
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-card h3 {
    margin: 0;
    margin-bottom: 10px;
}

.item-card p {
    margin: 5px 0;
}

.stars {
    color: gold;
}

.selected-category {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .remove-selection-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #d9534f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-selection-button:hover {
    background-color: #c9302c;
  }
  